.div-retangular {
  width: 40%;
  height: 50%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 232, 232, 0.7);
}

  