
<div class="div-retangular">
    <h1>Moeda Real</h1>
    <label for="numero">Quantos reais você têm:</label>
    <input type="number" [(ngModel)]="reais" [ngModelOptions]="{standalone: true}"><br>
    <label>Qual a cotação da moeda: </label>
    <input type="number" [(ngModel)]="outraMoeda" [ngModelOptions]="{standalone: true}">
    <button type="button" (click)="dividir()">Calcular</button>
    <button type="button" (click)="enviar()">enviar checklist</button>
    <div *ngIf="resultado">
        <h3>Resultado:</h3>
        <p>{{ reais }} R$ / {{ outraMoeda }} = {{ resultado.toFixed(2) }} na moeda escolhida</p>
    </div>
    
    <div *ngIf="realDolar">
        <h2>Cotação Atual USD-BRL</h2>
        <p>Valor:{{ realDolar | currency: "BRL"}}</p>
        <h2>Cotação Atual EUR-BRL</h2>
        <p>Valor:{{ realEuro | currency: "BRL" }}</p>
    </div>

</div>


