<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#f29f05" >
    <div class="container">
      <div class="navbar-header"  >
           <img  class="icon" [src]="logo" style="width: 50px; height: auto;">
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/pgConversorMoeda">Conversos de Moeda</a></li>
          <li><a routerLink="/pgChecklistGastos">Lista de Gastos</a></li>
          <li >
            <a routerLink="/pgCombustivelGastos" aria-haspopup="true" aria-expanded="false">Gasto combustível</a>
          </li>
          <li >
            <a routerLink="/pgFaleConosco" aria-haspopup="true" aria-expanded="false">Fale Conosco</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  