
.overlay {
  background-color: rgba(240, 232, 232, 0.212); /* Cor de fundo com transparência */
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  padding: 1%;
}

.total{
  text-size-adjust: 2px;
  top: 15%;
  left: 35%;
}




