/* CSS para o retângulo translúcido */
.overlay {
  background-color: rgba(240, 232, 232, 0.774); /* Cor de fundo com transparência */
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
}


