<div class="div-retangular">
<form [formGroup]="formulario" (ngSubmit)="cadastrarComentario()" #form="ngForm"  >
    
    <label for="nome">Nome:</label>
    <input type="text" id="nome" formControlName="nome" />
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email"required /><br>

    <button rows="4" cols="50" class="btn-group btn-group-justified" type="submit"
    [disabled]="formulario.invalid">Enviar</button><br>
    <textarea class="area" rows="4" cols="68" id="post" formControlName="post">{{comentarios}}</textarea>
    <div class="area" *ngFor="let comentario of comentarios">
      <p>{{ comentario }}</p>
    </div>
   
  
</form>
<label for="id" cols="3">ID:</label>
<input type="number" [(ngModel)]="id" [ngModelOptions]="{standalone: true}"/><br>
<button (click)="excluirComentario()">excluir</button>
<button (click)="buscarComentarioPorId()">Pegar comentário pelo ID</button>
<button (click)="carregarComentarios()">Mostrar todos os comentários</button>
<button (click)="updateComentario()">Atualizar</button>
<div *ngIf="cadastroConcluido" class="alert alert-success">
  <p>Cadastro realizado com sucesso!</p>
</div>

</div>


  
